:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #cc5100;
	--secondary: #6c757d;
	--success: #2ab27b;
	--info: #8eb4cb;
	--warning: #cbb956;
	--danger: #bf5329;
	--light: #f8f9fa;
	--dark: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: "Raleway", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --zoom: 1.05;
}

.content{
    padding: 3vh 3vw;
}

/*******************************************
nadpisy
*/

h1{
    color: var(--primary);
    margin: 0;
}

.h-white{
    color: white;
}

.line{
    width: 125px;
    height: 50px;
    border-bottom: 5px solid var(--primary);
    max-height: 0.75em;
    margin-bottom: 20px;
    }

p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}

/*******************************************
obrazky
*/
.slider{
    height: 100vh;
    object-fit: cover;
}

.smaller-slider{
    height: 40vh;
}

.bgImgCenter{
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    height: 75vh;
    transition: 0.6s;
}

#dom{
    background-image: url('../img/prsten.jpg');
}

#anka{
    background-image: url('../img/anka.jpg');
    background-position: right;
}

#popis-dom{
    color: white;
}

img.logo{
    height: 5vh;
}

/*******************************************
popisy
*/

.description{
    padding: 2%;
    max-width: 600px;
}

#popis-dom{
    margin-left: auto;
    text-align: justify;
}

#popis-anka{
    margin-right: auto;
    text-align: justify;
}

.main-menu{
    background-color: rgba(0, 0, 0, 0.397);
    transition: background-color 1s ease 0s;
}

.solid {
    background-color: var(--primary);
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 6px grey;
}

/*******************************************
karty
*/

.card-columns{
    margin: 2vh;
}

.card{
    border-width: 0;
    margin: 4vh 4vw;
    background-color: var(--light);
    transition: 0.6s;
}

.card:hover{
    border-width: 0;
    transform: scale(var(--zoom));
}

.col-centered{
    margin: auto;
}

.page-footer{
    background-color: black;
}

.btn-primary{
    background-color: var(--primary);
    border-color: var(--primary);
}

#sipka{
    height: 7vh;
    width: 7vh;
    transition: 0.6s;
    overflow: hidden;
}

#sipka:hover{
    transform: scale(var(--zoom));
}
